{% extends "index.html.j2" %}
{% block content %}
<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="py-8">
        <div>
            <h2 class="text-2xl font-semibold leading-tight">Teachers</h2>
        </div>
        <div class="my-2 flex sm:flex-row flex-col">
            <div class="flex flex-row mb-1 sm:mb-0">
                <div class="relative">
                    {#
                    <form action="{{ url_for('notes.filter_note') }}" method="POST">
                        #}
                        <label>
                            <select
                                name="filter_value"
                                class="appearance-none text-decoration rounded-e-none rounded-s-lg border border-gray-200 border-b block pl-8 pr-20 py-2 w-full bg-white placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none">
                                {#
                                <option value="{{ 0 }}">All Categories</option>
                                #}
                                {#                                {% for category in categories %}#}
                                {#
                                <option value="{{ category[0] }}">{{ category[1] }}</option>
                                #}
                                {#                                {% endfor %}#}
                                <option>Programming Essentials</option>
                            </select>
                        </label>
                        <div
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
                            </svg>
                        </div>
                        <span class="h-full absolute inset-y-0 right-0 flex items-center">
                            <button
                                type="submit"
                                class="hover:bg-gray-100 bg-white rounded-s-none rounded-e-none text-gray-700 rounded-md px-3 py-1.5 transition duration-500 ease select-none hover:bg-gray-200 focus:outline-none focus:shadow-outline"
                                >
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 01-.659 1.591l-5.432 5.432a2.25 2.25 0 00-.659 1.591v2.927a2.25 2.25 0 01-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 00-.659-1.591L3.659 7.409A2.25 2.25 0 013 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0112 3z"></path>
                                </svg>
                            </button>
                        </span>
                    </form>
                </div>
                <div class="relative">
                    <label>
                        <select
                            class="appearance-none h-full rounded-r border-t sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-200 text-gray-700 py-2 px-4 pr-10 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                            <option>All Teachers</option>
                            <option>Me</option>
                        </select>
                    </label>
                    <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
                        </svg>
                    </div>
                    <span class="h-full absolute inset-y-0 right-0 flex items-center">
                            <button
                                type="submit"
                                class="hover:bg-gray-100 bg-white rounded-s-none rounded-e-none text-gray-700 rounded-md px-3 py-1.5 transition duration-500 ease select-none hover:bg-gray-200 focus:outline-none focus:shadow-outline"
                                >
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 01-.659 1.591l-5.432 5.432a2.25 2.25 0 00-.659 1.591v2.927a2.25 2.25 0 01-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 00-.659-1.591L3.659 7.409A2.25 2.25 0 013 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0112 3z"></path>
                                </svg>
                            </button>
                        </span>
                </div>
            </div>
            <div class="block relative">
                {#
                <form action="{{ url_for('notes.search_note') }}" method="POST">
                    #}
                    <label>
                    <input placeholder="Search"
                        name="search_value" class="appearance-none rounded-e-lg rounded-s-none border border-gray-200 border-b block pl-8 pr-6 py-2 w-full bg-white placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
                    </label>
                    <span class="h-full absolute inset-y-0 right-0 flex items-center pl-2">
                        <button
                            type="submit"
                            class="hover:bg-gray-100  rounded-s-none rounded-e-lg text-gray-700 rounded-md px-3 py-1.5 transition duration-500 ease select-none hover:bg-gray-200 focus:outline-none focus:shadow-outline"
                            >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                            </svg>
                        </button>
                    </span>
                </form>
            </div>
            <div class="block relative">
                <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                    <form action="{{ url_for('teachers.create_teacher') }}">
                        <button
                            type="submit"
                            class="border-green-500 bg-green-500 text-white rounded-md px-3 py-1.5 m-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline"
                            >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
                            </svg>
                        </button>
                    </form>
                </span>
            </div>
        </div>
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
            <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                <!-- This example requires Tailwind CSS v2.0+ -->
                <div class="flex flex-col">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200 text-sm">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-6 py-3 text-xs text-left font-medium text-gray-500 uppercase tracking-wider">
                                                Name
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-xs text-left font-medium text-gray-500 uppercase tracking-wider">
                                                Username
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-xs text-left font-medium text-gray-500 uppercase tracking-wider">
                                                Role
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-xs text-left font-medium text-gray-500 uppercase tracking-wider">
                                                Created at
                                            </th>
                                            <th scope="col" class="relative px-6 py-3">
                                                <span class="sr-only">Edit</span>
                                            </th>
                                            <th scope="col" class="relative px-6 py-3">
                                                <span class="sr-only">Delete</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200">
                                        {% for teacher in teachers %}
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap text-gray-500">
                                                {{ teacher.display_name }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-gray-500">
                                                {{ teacher.username }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                {% if teacher.is_admin == 1 %}
                                                <span class="px-2 inline-flex leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                                    Admin
                                                </span>
                                                {% else %}
                                                <span class="px-2 inline-flex leading-5 font-semibold rounded-full bg-blue-100 text-blue-800">
                                                    Teacher
                                                </span>
                                                {% endif %}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-gray-500">
                                                {{ teacher.date_created }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-right font-medium">
                                                <form action="{{ url_for('teachers.teacher', teacher_id=teacher.teacher_id) }}" method="POST">
                                                    <input type="hidden" name="teacher_id" value="{{ teacher.teacher_id }}" >
                                                <button type="submit" class="hover:bg-gray-100 border text-gray-700 py-2 px-3 rounded-s-lg rounded-e-lg">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"></path>
                                                    </svg>
                                                </button>
                                                </form>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-right font-medium">
                                                <form action="{{ url_for('teachers.delete_teacher', teacher_id=teacher.teacher_id) }}" method="POST">
                                                <input type="hidden" value="{{ teacher.teacher_id }}" name="teacher_id">
                                                <button type="submit" class="hover:bg-gray-100 border text-gray-700 py-2 px-3 rounded-s-lg rounded-e-lg">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"></path>
                                                    </svg>
                                                </button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between">
                    <span class="text-gray-900">
                    Showing 1 to 4 of 50 Entries
                    </span>
                    <div class="inline-flex mt-2 xs:mt-0">
                        <button
                            class="hover:bg-gray-100 border text-gray-700 py-2 px-4 rounded-s-lg">
                        Previous
                        </button>
                        <button
                            class="hover:bg-gray-100 border text-gray-700 py-2 px-4 rounded-e-lg">
                        Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}