{% extends "index.html.j2" %}
{% block content %}
<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div
        class="flex sm:flex-row flex-col space-y-2 sm:space-x-2 flex-row w-full items-center justify-center min-h-screen">
        <div
            class='flex flex-wrap flex-row sm:flex-col justify-center items-center w-full sm:w-1/4 p-5 bg-white rounded-md border'>
            <div class="flex justify-between w-full">
                <div>
                    <div class="p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                        </svg>
                    </div>
                </div>
                <div>
                    <div style="padding-top: 0.1em; padding-bottom: 0.1rem"
                        class="flex items-center text-xs px-3 bg-white-200 text-green-800 rounded-lg">
                    </div>
                </div>
            </div>
            <div>
                <div class="font-bold text-5xl">
                    {{ counted_teacher }}
                </div>
                <div class="font-bold text-sm">
                    Teachers
                </div>
            </div>
        </div>
        <div
            class='flex flex-wrap flex-row sm:flex-col justify-center items-center w-full sm:w-1/4 p-5 bg-white rounded-md border'>
            <div class="flex justify-between w-full">
                <div>
                    <div class="p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                        </svg>
                    </div>
                </div>
                <div>
                    <div style="padding-top: 0.1em; padding-bottom: 0.1rem"
                        class="flex items-center text-xs px-3 bg-white-200 text-green-800 rounded-full"></div>
                </div>
            </div>
            <div >
                <div class="font-bold text-5xl text-center">
                    {{ counted_note }}
                </div>
                <div class="font-bold text-sm">
                    Notes
                </div>
            </div>
        </div>
        <div
            class='flex flex-wrap flex-row sm:flex-col justify-center items-center w-full sm:w-1/4 p-5 bg-white rounded-md border'>
            <div class="flex justify-between w-full">
                <div>
                    <div class="p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                        </svg>
                    </div>
                </div>
                <div>
                    <div style="padding-top: 0.1em; padding-bottom: 0.1rem"
                        class="flex items-center text-xs px-3 bg-white-200 text-green-800 rounded-full"></div>
                </div>
            </div>
            <div>
                <div class="font-bold text-5xl text-center">
                    {{ counted_categories }}
                </div>
                <div class="font-bold text-sm">
                    Categories
                </div>
            </div>
        </div>
        <div
            class='flex flex-wrap flex-row sm:flex-col justify-center items-center w-full sm:w-1/4 p-5 bg-white rounded-md border'>
            <div class="flex justify-between w-full">
                <div>
                    <div class="p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                        </svg>
                    </div>
                </div>
                <div>
                    <div style="padding-top: 0.1em; padding-bottom: 0.1rem"
                        class="flex items-center text-xs px-3 bg-white-200 text-green-800 rounded-full"></div>
                </div>
            </div>
            <div>
                <div class="font-bold text-5xl text-center">
                    {{ counted_question }}
                </div>
                <div class="font-bold text-sm">
                    Questions
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}