<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="text-sm">
        <nav class="bg-white shadow-md mt-3">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                        <div class="flex flex-shrink-0 items-center">
                            <img class="h-12 w-auto" src="/static/test_correct.png" alt="Workflow">
                        </div>
                        <div class="hidden sm:ml-6 sm:block">
                            <div class="flex space-x-4">
                                <a href="{{ url_for('home') }}" class="bg-blue-700 text-white rounded-md px-3 py-2 font-medium" aria-current="page">Dashboard</a>
                                <a href="{{ url_for('notes.create_note') }}" class="text-blue-700 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2  font-medium">Create Note</a>
                                <a href="{{ url_for('notes.notes') }}" class="text-blue-700 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 font-medium">Notes</a>
                                <a href="{{ url_for('category.categories') }}" class="text-blue-700 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 font-medium">Categories</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="sm:hidden" id="mobile-menu">
                <div class="space-y-1 px-2 pb-3 pt-2">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Dashboard</a>
                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Team</a>
                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Projects</a>
                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Calendar</a>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>